svg {
  height: 30px;
  width: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.menu__box {
  display: flex;
  align-items: center;
}

.burger-icon {
  cursor: pointer;
}

.burger-icon svg {
  width: 30px;
}

.burger-icon__close-svg {
  display: none;
}
