.slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  background: tomato;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slider__item {
  width: 380px;
  margin: 0 10px;
}
