.accordion__control
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
    border: 1px solid #888

.accordion__icon
    width: 30px
    height: 30px
    position: relative

    svg
        transition: 0.2s ease

.accordion__icon-close
    opacity: 0
    position: absolute
    left: 0
    top: 0
    width: inherit
    height: inherit

.accordion__icon-open
    position: absolute
    left: 0
    top: 0
    width: inherit
    height: inherit

.accordion.open
    .accordion__icon-close
        opacity: 1
    .accordion__icon-open
        opacity: 0

.accordion__content
    padding: 20px
    border: 1px solid #888
    border-top: 1px solid transparent

/**/
.accordion__control
    width: 100%
    background-color: transparent
    cursor: pointer

.accordion__content
    max-height: 0
    opacity: 0
    overflow: hidden
    padding: 0 20px
    will-change: max-height
    transition: all 0.3s ease-out
    box-sizing: content-box

.accordion__icon
    transition: transform 0.3s ease-out

.open .accordion__content
    opacity: 1
    padding: 20px